article, aside, audio, canvas, command, datalist, details, embed, figcaption, figure, footer, header, hgroup, keygen, meter, nav, output, progress, section, source, video{ display: block; }
mark, rp, rt, ruby, summary, time{ display: inline }
body { 
	background:url(images/header-bg.jpg) no-repeat 50% 0;
	font-family:Arial, Helvetica, sans-serif;
	font-size:100%; 
	line-height:1.0625em;

	}
html { min-width:980px;}
html, body { height:100%;}

.container_24 {
	position: relative;
	font-size:.75em;
}
header{
		height:490px;
		overflow:hidden;
		background:url(images/header-tail.gif) 0 0 repeat-x #fff;
}

a {
	color:#f86314; 
	outline:none;
	}
a:hover{
	text-decoration:none;
	}

h2 {
	font-size:45px;
	line-height:1.2em;
	font-weight:normal;
	color:#30383a;
	letter-spacing:-2px;
	font-weight:700;
	margin-bottom:18px;
	}
	h2 span {
		font-size:32px;
		line-height:1.2em;
		font-weight:500;
		display:inline-block;
		position:relative;
		top:13px;
		}
h3 {
	font-size:25px;
	line-height:1.2em;
	font-weight:500;
	color:#30383a;
	background:url(../images/line-hor.gif) 0 100% repeat-x;
	padding:0 0 8px 0;
	margin-bottom:20px;
	}
h4 {
	font-size:13px;
	color:#454f51;
	margin-bottom:1.6em;
	}
	h4.alt {
		padding-top:10px;
		}
h5 {
	
	}
.button { 
	display:inline-block;
	width:81px;
	height:37px;
	line-height:37px;
	font-size:2px;
	background:url(images/button.png) no-repeat 0 0;
	color:#fff;
	text-decoration:none;
	text-align:center;
}
.button1
{
   	display:inline-block;
	width:120px;
	height:37px;
	line-height:37px;
	font-size:2px;
	background:url(images/aceptar.png) no-repeat 0 0;
	color:#fff;
	text-decoration:none;
	text-align:center; 
}
.button2
{
   	display:inline-block;
	width:120px;
	height:37px;
	line-height:37px;
	font-size:2px;
	background:url(images/eliminar.png) no-repeat 0 0;
	color:#fff;
	text-decoration:none;
	text-align:center;
}
.button3
{
   	display:inline-block;
	width:120px;
	height:37px;
	line-height:37px;
	font-size:2px;
	background:url(images/publicar.png) no-repeat 0 0;
	color:#fff;
	text-decoration:none;
	text-align:center;
}
.gusta
{
   	display:inline-block;
	width:120px;
	height:37px;
	line-height:37px;
	font-size:2px;
	background:url(images/Megusta.png) no-repeat 0 0;
	color:#fff;
	text-decoration:none;
	text-align:center;
}
.nogusta
{
   	display:inline-block;
	width:120px;
	height:37px;
	line-height:37px;
	font-size:2px;
	background:url(images/nogusta.png) no-repeat 0 0;
	color:#fff;
	text-decoration:none;
	text-align:center;
}

/* Navigation */



header nav {
	position:absolute;
	right:0;
	top:93px;
	}
	header nav ul li {
		float:left;
		}
		header nav li a {
			float:left;
			padding:12px 21px 18px 21px;
			font-size:16px;
			line-height:1.2em;
			color:#fff;
			text-decoration:none;
			text-shadow:1px 1px 0 #004376;
			position:relative;
			}
		header nav li a.current {
			background:#006195;
			border-radius:7px;
			-moz-border-radius:7px;
			-webkit-border-radius:7px;
			behavior:url(../js/PIE.htc);
			}
a.rss {
	display:block;
	position:absolute;
	right:8px;
	top:36px;
	color:#014568;
	background:url(images/icon-rss.png) no-repeat 100% 0;
	padding:4px 54px 10px 0;
	font-size:1.1em;
	}
a.rss:hover {
	color:#fff;
	}

/* Main banner */
.main-banner {
	display:block;
	position:absolute;
	left:9px;
	top:153px;
	}
.header-bg {
	background:url(images/header1.jpg) no-repeat 50% 0;
	height:509px;
	}

/* Logo */
.logo {
	position:absolute;
	/*left:9px;*/
	top:27px;
	margin-left:0px;

	}

	.inside {
		padding:0 0 0 10px;
		}
		.inside .inside {
			padding:40px 0 0 0;
			}
	.row {
		padding-bottom:34px;
		}


/*-----------------------------------------*/
.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper { 
	width:100%;
	overflow:hidden;
}
footer{
    background:url(images/footer-tail.gif) 0 100% repeat-x #1079ac;
	padding:25px 0 25px 0;
}


footer {
	color:#2792c5;

	}
footer a {
	text-decoration:none;
	color:#2792c5;
	}
footer a:hover {
	text-decoration:underline;
	}

/* Copy */
footer .copy 
{
   
	float:left;
}
	footer .copy a {
		color:#fff;
		}

/* Footer navigation */
footer nav {
	float:right;
	}
	footer nav li {
		display:inline;
		border-left:1px solid #0e74a6;
		padding:0 8px 0 11px;
		}
	footer nav li:first-child {
		border:none;
		}
		footer nav li a:hover,
		footer nav li a.current {
			color:#fff;
			text-decoration:none;
			}

#fot
{
    background:url(images/footer-tail.gif)  0 100% repeat-x #1079ac;
	padding:25px 0 25px 0;
	
}
.box {
	background:#eaedf0;
	border:1px solid #c4c4c3;
	padding:28px 29px 43px 29px;
	position:relative;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	behavior:url(js/PIE.htc);
}

.img-indent { 
	margin:0 20px 0 0; 
	float:left;
	width:120px;
	height:160px;
	}
.comentario_ident
{
    margin:0 20px 0 0; 
	float:left;
	width:50px;
	height:70px;
}	
.comentario_ident1
{
    margin:0 20px 0 0; 
	float:left;
	width:30px;
	height:50px;
}	
.comentario_ident2
{
    margin:0 20px 0 0; 
	float:left;
	width:30px;
	height:40px;
}
.derecha
{
    float:right;
}
	
	
	
.contacto{
	border: 1px solid #CED5D7;
	border-radius: 6px;
	padding-top:20px;
	background-color: white;
	box-shadow: 0px 5px 10px #B5C1C5, 0 0 0 10px #EEF5F7 inset;
	margin-left:190px;
	margin-right:170px;
	padding-left:50px;
}
.label{
	display: block; 
	font-weight: bold;
}
.contacto div{
	margin-bottom: 15px;
}
.contacto input[type='text'], .contacto textarea{
	padding: 7px 6px;
	width: 294px;
	border: 1px solid #CED5D7;
	resize: none;
	box-shadow:0 0 0 3px #EEF5F7;
	margin: 5px 0;
}
.contacto input[type='text']:focus, .contacto textarea:focus{
	outline: none;
	box-shadow:0 0 0 3px #dde9ec;
}
.contacto input[type='submit']{
	border: 1px solid #CED5D7;
	box-shadow:0 0 0 3px #EEF5F7;
	padding: 8px 16px;
	border-radius: 20px;
	font-weight: bold;
	text-shadow: 1px 1px 0px white;
	
	background: #e4f1f6; 
	background: -moz-linear-gradient(top, #e4f1f6 0%, #cfe6ef 100%);
	background: -webkit-linear-gradient(top, #e4f1f6 0%,#cfe6ef 100%); 
}
.contacto input[type='submit']:hover{
	background: #edfcff; 
	background: -moz-linear-gradient(top, #edfcff 0%, #cfe6ef 100%);
	background: -webkit-linear-gradient(top, #edfcff 0%,#cfe6ef 100%); 
}
.contacto input[type='submit']:active{
	background: #cfe6ef; 
	background: -moz-linear-gradient(top, #cfe6ef 0%, #edfcff 100%);
	background: -webkit-linear-gradient(top, #cfe6ef 0%,#edfcff 100%);
}




/*-------------------------------------------------------------*/









/*--------------------------------------------------------------------------*/
#ps
{
   margin-left:25px;
   padding:10px 10px 5px 0px;
       
}   

#barra-lateral {

background-color:#F4FAF9;
            float:right;
            width:180px;
            height:100%;
         
   
               margin-right: 10px;
               margin-bottom: 10px;
               margin-left: 0pt;
               margin-top:10px;
   }
#barra-lateral:hover{
	background:36DCEB;
	background:36DCEB(187,187,187,0.7);
}
   #titulonav3   
   {
       float :right;
       border-width: 0px;
       border-style: solid;
       border-color: #000000;
       width:172px;
       font-size: 8pt;
       font-weight: bold;
       background-color: #999999;
       color: #ffffff;
       padding: 4px;
       margin-top:0px;
    }


#section
{
	width:1000px;
	margin:0 auto;
	background:white;
	border-radius:5px;
	box-shadow:10px 8px 5px 0px rgba(0,0,0,0.4);
	margin-top:auto;
	margin-bottom:10px;
    padding-top:20px;

    padding-left:10px;

}
#article3
{
    background:rgba(187,187,187,0.4); 
	width:93%;
	border-radius:10px;
	width:70%;
	height:40%;
	margin-left:15%;
	margin-top:5px;
	padding-left:10px;
	padding-top:5px;
	padding-right:10px;
}
#article3:hover{
	background:rgba(187,187,187,0.7);
}


#article1
{
    background:rgba(187,187,187,0.4); 
	width:93%;
	border-radius:10px;
	width:50%;
	height:20%;
	margin-left:26%;
	margin-top:5px;
	padding-left:10px;
	padding-top:5px;
	padding-right:10px;
}

#article2
{
    background:rgba(187,187,187,0.4); 
	width:93%;
	border-radius:10px;
	width:50%;
	height:30%;
	margin-left:26%;
	margin-top:5px;
	padding-left:40px;
	padding-top:5px;
	padding-right:10px;
}
#article1:hover{
	background:rgba(187,187,187,0.7);
}
#arreglar
{
       padding: 1px 0px 0px 0px;
}


a{
	font-family: Arial, Helvetica, sans-serif;

}
#registrarr
{
    background-image: linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -o-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -moz-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -webkit-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -ms-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.22, rgb(207,209,208)),
	color-stop(0.61, rgb(250,250,250)),
	color-stop(0.81, rgb(252,252,252))
);
    
    height:440px;
    width:350px;
    margin-left:20px;
    border-radius:20px;
    padding-left:20px;
    padding-top:10px;
    margin-top:20px;
  

    
}
#registrarr1
{
    background-image: linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -o-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -moz-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -webkit-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -ms-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.22, rgb(207,209,208)),
	color-stop(0.61, rgb(250,250,250)),
	color-stop(0.81, rgb(252,252,252))
);
    
    height:550px;
    width:350px;
    margin-left:20px;
    border-radius:20px;
    
}
#registrarr2
{
    background-image: linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -o-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -moz-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -webkit-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -ms-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.22, rgb(207,209,208)),
	color-stop(0.61, rgb(250,250,250)),
	color-stop(0.81, rgb(252,252,252))
);
    
    height:800px;
    width:600px;
    margin-left:20px;
    border-radius:20px;
    
}
#registrarr3
{
    background-image: linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -o-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -moz-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -webkit-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);
background-image: -ms-linear-gradient(bottom, rgb(207,209,208) 22%, rgb(250,250,250) 61%, rgb(252,252,252) 81%);

background-image: -webkit-gradient(
	linear,
	left bottom,
	left top,
	color-stop(0.22, rgb(207,209,208)),
	color-stop(0.61, rgb(250,250,250)),
	color-stop(0.81, rgb(252,252,252))
);
    
    height:830px;
    width:800px;
    margin-left:50px;
    border-radius:20px;
    
}
textarea {
    min-height: 75px;
}


input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}


-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
/*-----------------------------------------------*/
#nav3
{
    float:right;   
}
#nav2{
   padding-top:10px;
   float:left;
}

.titulonav2{   
   border-width: 1px;
   border-style: solid;
   border-color: #000000;
   font-size: 8pt;
   font-weight: bold;
   background-color: #999999;
   color: #ffffff;
   padding: 4px;
}

.cuerporec{
   margin-top: 4px;
   margin-right: 0pt;
   margin-bottom: 10px;
   margin-left: 0pt;
}

.cuerporec ul{
   margin-top: 5px;
   margin-right: 0px;
   margin-bottom: 20px;
   margin-left: 0px;
   padding-top: 0pt;
   padding-right: 0pt;
   padding-bottom: 0pt;
   padding-left: 1px;
   list-style-type: none;
   list-style-image: none;
   list-style-position: outside;
}

.cuerporec li{
   border-width: 1px;
   border-style: solid;
   border-color: #d7d7d7;
   padding: 1px 0 2px 2px;
   font-size: 8pt;
   padding-bottom: 2px;
   margin-top: 2px;
   margin-right: 0pt;
   margin-bottom: 2px;
   margin-left: 0pt;
   background-image: url(fondo_gris.gif);
}

.cuerporec a{
   text-decoration: none;
} 

/*****************************************************/
#searchBoxOne{
    font-size: 10px;
    color: #999;
    padding: 6px;
    -moz-box-shadow:inset 2px 2px 5px #ccc;
    box-shadow:inset 2px 2px 5px #ccc;
    border:1px solid #b8b8b8;
    border-radius:5px;
}


/*---------------------------------------------------------------*/

#hhh
{
    background-color: #CED5D7;
    
    position:relative;
    width:200px;
    height:40px;
    border-radius:5px;
    padding:13px 0px 0px 15px;
}


.roger:hover
{
    -webkit-transform:scale(1.1);
    -webkit-transition:0.5s;
    -moz-transform:scale(1.1);
    -moz-transition:1s;
}

nav ul li:hover
{
   background:rgba(0,0,0,1)
}