@{
    ViewBag.Title = "Home Page";
 
}
@*@foreach( var item in @ViewBag.lista){
    @item.id<br/>
    @item.tamaño<br/>
    @item.descripcion<br/>
}*@


<div id="arreglar">

        <article id="article1">
			    <h3>INFORMACION</h3>
			    <p>primer contenido</p>	
		</article id="article1">
      
		<article id="article1">
			<h3>LIBRO</h3>
			<img src="">
			<p>primer contenido</p>	
		</article>
		<article id="article1">
			<h3>titulo2</h3>
			<p>primer contenido</p>	
		</article>
		<article id="article1">
			<h3>titulo1</h3>
			<p>primer contenido</p>	
		</article>
		<article id="article1">
			<h3>titulo1</h3>
			<p>primer contenido</p>	
	    </article></br>

</div>